/* About.css determines the appearance of the main section of the About/Homepage */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-img {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border-radius: var(--base-radius);
    margin: 20px;
}
.about-img img {
    width: 300px;
    border: 2px solid black;
}
.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.about-info article {
    min-width: 300px;
    background-color: var(--primary-color);
    margin: 20px;
    border-radius: var(--base-radius);
    padding: 8px;
    font-size: 1.2rem;
}
.about-info article h3 {
    margin-top: 4px;
    margin-bottom: 0;
}
.about-me p {
    margin-right: 8px;
}
.about-skills {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}
/* Tablet screen size up to 768px */
@media only screen and (min-width:576px) {
    .about-img {
        margin-top: 40px;
    }
    .about-img img{
        width: 500px;
    }
    .about-info article {
        font-size: 1.4rem;
        max-width: 100%;
    }
    .about-skills {
        max-width: 360px;
    }
}
/* Tablet screen size up to 992px */
@media only screen and (min-width:768px) {
    .about-info {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 40px;
    }
}
/* Desktop screen size from 992px */
@media only screen and (min-width:992px) {
    .about-img img{
        width: 600px;
    }
    .about-info article {
        font-size: 1.5rem;
        max-width: 600px;
    }
}