/* Index.css stylesheet will determine the appearance of the Header, Nav and Footer sections */
/* It will also contain any global variables */
:root {
    --primary-background: #003566;
    --secondary-background: #001D3D;
    --primary-color: #d8b400;
    --secondary-color: #c99c0a;
    --tertiary-color: #0068c8;
    --primary-font: #000000;
    --secondary-font: #FFFFFF;
    --base-radius: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: var(--primary-background);
}
.page-container {
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}
header {
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom-left-radius: var(--base-radius);
    border-bottom-right-radius: var(--base-radius);
}
.title-block {
    color: var(--secondary-font);
    height: 90px;
}
.title-text {
    margin-left: 8px;
    margin-bottom: 4px;
    min-width: 251.38px;
}
.title-text h1 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 12px;
}
.title-text h3 {
    margin: 0;
    margin-left: 2px;
    font-size: 1.5rem;
}
nav {
    height: 110px;
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-background);
    border-bottom-left-radius: var(--base-radius);
    border-bottom-right-radius: var(--base-radius);
}
nav a {
    color: var(--secondary-font);
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
}
.link-frame {
    margin-bottom: 4px;
    height: 60%;
    width: 70%;
    border-radius: var(--base-radius);
    background-color: var(--primary-background);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.link-frame i {
    font-size: 32px;
    margin: 8px;
}
main {
    padding-top: 200px;
    padding-bottom: 60px;
}
footer {
    height: 60px;
    background-color: var(--secondary-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-links {
    display: flex;
    font-size: 40px;
    margin-left: 8px;
    gap: 16px;
}
.footer-links a:link {
    color: var(--secondary-color);
}
.footer-links a:visited {
    color: var(--secondary-color);
}
.footer-links a:hover {
    color: var(--primary-color);
}
.footer-links a:active {
    color: var(--primary-color);
}
.footer-info {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-right: 8px;
    font-style: italic;
    color: var(--secondary-color);
}
.footer-info p {
    margin: 0;
}
/* Tablet screen size 576px to 992px */
@media only screen and (min-width:576px) {
    /* Header Changes */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 180px;
    }
    /* Nav Changes */
    nav {
        flex-direction: row;
        justify-content: space-around;
        width: 400px;
    }
    nav a {
        font-size: 1.2rem;
    }
    .link-frame i {
        font-size: 32px;
    }
    /* Main Changes */
    main {
        padding-top: 180px;
        padding-bottom: 80px;
    }
    /* Footer Changes */
    footer {
        height: 80px;
    }
    .footer-links {
        font-size: 48px;
        padding-left: 16px;
    }
}
/* Desktop screen size 992px and up */
@media only screen and (min-width:992px) {
    /* Header Changes */
    header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 84vh;
        width: 300px;
        border-radius: 0;
        border-top-right-radius: var(--base-radius);
    }
    .title-text {
        margin-top: 8px;
    }
    /* Nav Changes */
    nav {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 40vh;
        margin-left: 10%;
    }
    nav a {
        flex-direction: row;
        width: 100%;
        height: 60px;
        background-color: var(--primary-background);
        border-radius: var(--base-radius);
        justify-content: flex-start;
        align-items: center;
        transition: scale 0.5s;
    }
    nav a:hover {
        scale: 1.1;
        background-color: var(--tertiary-color);
        .link-frame {
            background-color: var(--tertiary-color);
        }
        
    }
    nav a:active {
        scale: 1.1;
        background-color: var(--tertiary-color);
        .link-frame {
            background-color: var(--tertiary-color);
        }
    }
    .link-frame {
        width: 56px;
        height: 48px;
        margin-left: 8px;
    }
    nav a label {
        width: 160px;
        text-align: start;
        padding-left: 8px;
    }
    /* Main Changes */
    main {
        padding-top: 0;
        padding-left: 300px;
        padding-bottom: 0;
        min-height: 100vh;
    }
    /* Footer Changes */
    footer {
        position: fixed;
        height: 16vh;
        width: 300px;
        flex-direction: column;
        justify-content: space-around;
        border-top: 2px solid black;
        border-bottom-right-radius: var(--base-radius);
    }
    .footer-info {
        margin: 0;
        width: 80%;
        align-items: center;
    }
    .footer-links {
        justify-content: space-between;
        margin: 0;
        width: 132px;
    }
}