/* About.css determines the appearance of the main section of the About/Homepage */
main.about {
  flex-direction: column;
  justify-content: center;
}

.about-img {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: var(--base-radius);
  margin: 20px;
}

.about-img img {
  width: 320px;
  border: 2px solid black;
}

.about article {
  min-width: 300px;
  background-color: var(--primary-color);
  margin: 20px;
  border-radius: var(--base-radius);
  padding: 8px;
  font-size: 1.2rem;
}

.about article h3 {
  margin-top: 4px;
  margin-bottom: 0;
}

.about-me p {
  margin-right: 8px;
}

.about-skills {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* Tablet screen size up to 768px */
@media (min-width:576px) {
  .about-img {
    margin-top: 40px;
  }

  .about-img img {
    width: 500px;
  }

  .about article {
    font-size: 1.4rem;
    max-width: 100%;
  }

  .about-skills {
    max-width: 360px;
  }
}

/* Tablet screen size up to 992px */
@media (min-width:768px) {
  .about {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
  }
}

/* Desktop screen size from 992px */
@media (min-width:992px) {
  .about-img img {
    width: 400px;
  }

  .about article {
    font-size: 1.5rem;
    max-width: 600px;
  }
}