main.projects {
  justify-content: center;
}

.project-cards {
  display: grid;
  padding: 16px;
  grid-template-columns: 1fr;
}

.projects article {
  min-width: 320px;
  max-width: 360px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-top {
  margin: 8px;
}

.project-heading h2 {
  margin: 0;
  margin-bottom: 16px;
}

.proj-desc {
  margin: 0;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
}

.proj-stck {
  margin: 0;
}

#stack-bold {
  font-weight: bold;
}

.projects a {
  text-decoration: none;
}

.projects a:link {
  color: var(--primary-font);
}

.projects a:visited {
  color: var(--primary-font);
}

.projects a:active {
  color: var(--primary-font);
}

.card-bottom i {
  font-size: 48px;
}

@media (min-width:576px) {
  article {
    max-width: 440px;
    font-size: 1.4rem;
  }

  .card-bottom i {
    font-size: 56px;
  }
}

@media (min-width:768px) {
  .project-cards {
    grid-template-columns: 1fr 1fr;
    gap: 16px;;
  }

  article {
    max-width: 380px;
  }
}

@keyframes wobble {
  0% {
    rotate: 0deg
  }

  25% {
    rotate: 8deg
  }

  50% {
    rotate: 0deg
  }

  75% {
    rotate: -8deg;
  }

  100% {
    rotate: 0deg;
  }
}

@media (min-width:996px) {
  .project-cards {
    margin: 0;
  }

  article {
    max-width: 480px;
  }

  .card-bottom i {
    font-size: 60px;
    transition: scale 0.5s;
  }

  .card-bottom i:hover {
    scale: 1.1;
    animation-name: wobble;
    animation-duration: 0.3s;
  }
}