footer {
  height: 60px;
  padding-bottom: 30px;
  background-color: var(--secondary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: -30px;
  left: 0;
}

.footer-links {
  display: flex;
  font-size: 40px;
  margin-left: 8px;
  gap: 16px;
}

.footer-links a:link {
  color: var(--secondary-color);
}

.footer-links a:visited {
  color: var(--secondary-color);
}

.footer-links a:hover {
  color: var(--tertiary-color);
}

.footer-links a:active {
  color: var(--tertiary-color);
}

.footer-info {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-right: 8px;
  color: var(--secondary-color);
}

.footer-info p {
  margin: 0;
  color: var(--secondary-font);
}