:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;

  --primary-background: #003566;
  --secondary-background: #001D3D;
  --primary-color: #d8b400;
  --secondary-color: #c99c0a;
  --tertiary-color: #0068c8;
  --primary-font: #000000;
  --secondary-font: #FFFFFF;
  --base-radius: 8px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--primary-background);
}